.home-status {
  color: hsl(0, 0%, 45%);

  &.home-status--error {
    color: hsl(0, 75%, 45%);
  }
}

.home-page {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .products-header {
    display: flex;
    justify-content: space-between;
  }

  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 0.5rem;
  }
}
