.default-product-card-header {
  background-color: hsl(0, 0%, 95%);

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.default-product-card-body {
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;

  h3 {
    font-size: 1.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    color: hsl(0, 0%, 45%);
  }
}
